<style >
  /*======================================================
           COMMAN CLASS
  ======================================================*/
  ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  li {
    padding: 0px;
  }
  p{
    margin: 0px;
  }
  a {
    color: #000;
    text-decoration: none;
  }
  a:hover {
    color: #999;
    text-decoration: none;
  }

  .text-upp{
    text-transform: uppercase;
  }
  /*----------------------FONT COLOR CLASSES-------------------------*/

  .whiteclr{
    color: #fff !important;
  }
  .blackclr{
    color: #000 !important;
  }
  .mauto{
    margin: 0 auto;
  }

  /*==========       BASIC CLASSES     ==========*/

  /* ========================================= */
  /* =============SPACE CLASSES============== */
  /* ========================================= */
  navbar-default {
    background: url(../images/header.png);
    padding-top: 10px;
    border-bottom: none;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0px;
  }
  .navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 35px;
    margin-top: -10px;
    font-weight: 700;
    color: #fff !important;
    line-height: 20px;
  }
  .navbar-default ul li a{
    color: #fff !important;
  }

  .navbar-default .navbar-nav > li > a {
    padding: 10px 40px;
  }
  .navbar-default .navbar-nav > li:last-child > a {
    padding: 10px 0px 10px 30px;
  }
  .a_20{
    font-size: 20px;
  }
  .btn-white{
    background: transparent;
    color: #ffffff !important;
    border-radius: 0px;
    margin-top: 6px;
    border-color: #ffffff;
    padding: 8px 10px !important;

  }
  .btn-white:hover{
    color: #45a9ce !important;
    background-color: #fff !important;
  }
  /*==== pop -up =====*/
  .login-form{
    padding: 20px;
  }
  .login-form .radio,.login-form .checkbox{
    color: #000;
    text-align: left;
    margin-top: 0px;
  }
  .login-form label{
    color: #000000;
  }
  .modal-content{
    border-radius: 0px;
  }
  .modal-content .form-control{
    border-radius: 0px;
  }
  .btn-login{
    background: #28add6;
    color: #ffffff;
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 2px;
  }
  .btn-login:hover{
    background: #45cbf5;
    color: #000000;
  }
  .btn-linkdin{
    background: #3f87af;
    color: #ffffff;
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 2px;
  }
  .btn-linkdin:hover{
    background: #2bc4f3;
    color: #ffffff;
    transition: all linear .8s;
  }
  .btn-fb{
    background: #3c5a95;
    color: #ffffff;
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 2px;
  }
  .btn-fb:hover{
    background: #354f84;
    color: #ffffff;
    transition: all linear .8s;
  }
  .btn-google{
    background: #f2f2f2;
    color: #000000;
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 2px;
  }
  .btn-google:hover{
    background: #e2e2e2;
    color: #000000;
    transition: all linear .8s;
  }
  .bd-line{
    border-top: 1px solid #ebebeb;
    margin-bottom: 15px;
  }
  #myModal11 .modal-dialog,#myModal111 .modal-dialog {
    width: 330px;
    margin: 30px auto;
  }
  #myModal111 p,#myModal11 p{
    color: #b3b3b9;
  }
  .login-form {
    padding: 20px;
  }
  .text-sky {
    color: #09bdd2;
  }
  .navbar-brand > img {
    display: block;
    width: 150px;
  }

  /*---------------------------banner---------------------------*/
  /*#banner {
    background: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    width:100%;

  } */


  #banner{
    background: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 942px;
    padding-top: 350px;
    width: 100%;
  }
  /*.banner2{
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }*/

  .carousel-caption {
    position: absolute;
    bottom: 20px;
    top: 30%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    text-shadow: 0px 0px 0px;
    left: 0;
    right: 0;
  }
  .padd0{
    padding: 0px;
  }
  .p_header{
    font-size: 35px;
    color: #31bbe9;
  }
  .p1{
    font-size: 24px;
  }
  .btn_1{
    color: #10c2ee;
    font-size: 19px;
    background-color: transparent;
    border-color: #10c2ee;
    transition:0.4s;
    width: 200px;
    padding: 10px 0;
  }
  .btn_1:hover{
    color: #fff;
    background-color: #10c2ee;
    border-color: #10c2ee;
    transition:0.4s;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
  }
  .btn_advise{
    color: #fff;
    font-size: 19px;
    background-color: #10c2ee;
    border-color: #10c2ee;
    transition:0.4s;
    width: 200px;
    padding: 10px 0;
  }
  .marg_left{
    margin-left: 10px;
  }
  .space350{
    margin-top: 350px;
  }
  .link_a{
    color: #606060;
    font-size: 17px;
    padding-left: 20px;
  }

  /*------------------------info------------------*/
  .media_p{
    font-size: 19px;
    padding-left: 20px;
  }
  #info {
    padding: 5% 0;
  }
  /*.img_width{
      width: 90px;
  }*/
  .marg_top{
    margin-top: 65px;
  }
  .line::after {
    content: '';
    position: absolute;
    border: 1px solid #c6c6c6;
    height: 43px;
    margin-top: 4px;
    left: 69px;
  }
  .p_margin1{
    margin-top: 25px;
  }

  .p_margin2{
    margin-top: 15px;
  }


  /*------------------------team------------------*/
  .border_white{
    border-top: 2px solid #fff;
    margin: 20px 0;
  }
  #team {
    background: url(../img/banner2.png);
    background-size: cover;
    height: 40%;
    width: 100%;
    display: table;
    background-position: 43%;
  }
  .team{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
  }
  .paddlr{
    padding: 0px 14px;
  }


  /*------------------------mentors------------------*/
  #mentors_view{
    padding: 80px 0;
  }
  .img_width2{
    width: 250px;
  }

  .carousel-control.right {
    background-image: none;
    top: 50%;
  }
  .carousel-control.left {
    background-image: none;
    top: 50%;
  }

  .carousel-control.left {
    background-image: none;
  }
  .carousel-control {
    width: 2%;
  }
  .p_tag{
    font-size: 20px;
    color: #585858;
  }
  .p_tag2{
    font-size: 20px;
  }
  .p_tag3{
    font-size: 17px;
    color: #737373;
  }
  .color1{
    color: #00a8c1;
  }
  .btn_schedule{
    background-color: #fff;
    border-color: #16b8df;
    color: #16b8df;
    font-size: 20px;
    transition:0.4s;
  }

  .btn_schedule:hover{
    color: #fff;
    background-color: #10c2ee;
    border-color: #10c2ee;
    transition:0.4s;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
  }
  .caption{
    min-height: 190px;
  }
  /*------------------------app------------------*/
  .img_width3{
    width: 280px;
  }
  .logo1{
    width: 250px;
  }
  #mobile_app{
    background: url(../images/layer1.jpg);
    background-repeat: no-repeat;
    padding: 50px 0;
    background-size: cover;
  }
  .apple{
    font-size: 50px !important;
  }
  .btn_app{
    background-color: transparent;
    color: #fff;
    border-color: #fff;
  }
  .p_download {
    color: #fff;
    font-size: 24px;
  }
  .space200{
    margin-top: 200px;
  }
  .app_button{
    width: 240px;
  }

  /*------------------------subscribe------------------*/
  #subscribe{
    background-color: #b7b7b7;
    color: #fff;
    padding: 60px 0;
  }
  .form_control {
    font-size: 16px;
    color: #797979;
    background-color: #cfcfcf;
    border-radius: 0px;
    box-shadow: 0px 6px 0px #fff;
    height: 45px;
    outline: none !important;
  }
  .social {
    font-size: 35px !important;
    color: #fff;
    line-height: 65px !important;
  }
  .cirlce {
    width: 70px;
    height: 70px;
    border: 2px solid #fff;
    border-radius: 50px;
    transition: 0.4s;
  }
  .cirlce:hover{
    background-color: #fff;
    transition:0.4s;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
  }
  .cirlce:hover .social{
    color: #cfcfcf;
  }
  #subscribe .list-inline > li {
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
  }

  /*================================body main css==================================*/
  .blog-section {
    padding: 20px 0px;
  }
  .blog {
    padding: 20px 0px;
    border-top: 1px solid #b0b0b0;
    border-bottom: 1px solid #b0b0b0;
  }
  .morebtn{
    padding: 6px 30px;
    border: 1px solid #b0b0b0;
    border-radius: 3px;
    font-size: 24px;
    color: #05ace3;
    background-color: transparent;
    margin-bottom: 80px;
    transition:0.4s;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
  }
  .morebtn:hover{
    color: #fff;
    background-color: #05ace3;
  }
  .btn-grn1 {
    color: #58cb8e;
    background: #e7f8f2;
    border-color: #82d6a5;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 25px;
    width: 200px;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
  }
  .blog-btn {
    text-align: center;
  }
  .blog-contain h3 span {
    color: #0093b8;
  }
  .starreting li a{
    font-size: 24px;
    color: #05ace4;
    padding: 2px;
  }
  p.blog-txt2 a{
    color: #999999;
    text-decoration: none;
  }
  /*===========================5 grig sytem===============*/
  /*  SECTIONS  */
  .section {
    clear: both;
    padding: 0px;
    margin: 0px;
  }

  /*  COLUMN SETUP  */
  .col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.5%;
  }
  .col:first-child { margin-left: 0; }

  /*  GROUPING  */
  .group:before,
  .group:after { content:""; display:table; }
  .group:after { clear:both;}
  .group { zoom:1; /* For IE 6/7 */ }


  /*  GRID OF FIVE  */
  .span_5_of_5 {
    width: 100%;
  }
  .span_4_of_5 {
    width: 79.7%;
  }
  .span_3_of_5 {
    width: 59.4%;
  }
  .span_2_of_5 {
    width: 39.1%;
  }
  .span_1_of_5 {
    width: 18.8%;
  }

  /*  GO FULL WIDTH BELOW 480 PIXELS */
  @media only screen and (max-width: 767px) {
    .col {  margin: 1% 0 1% 0%; }
    .span_1_of_5, .span_2_of_5, .span_3_of_5, .span_4_of_5, .span_5_of_5 { width: 100%; }
  }
  .category_items li{
    list-style: none;
    display: inline-block;
  }
  .category_items h3 {
    font-size: 22px;
    color: #000;
    text-align: center;
  }
  .category_items li a {
    display: inline-block;
    padding: 0px 1px;
    text-decoration: none;
    font-size: 14px;
    color: #4f4f4f;
  }
  .category_items li a:hover{
    color: #05c6e3;
  }
  a{
    text-decoration: none !important;
  }
  #top_category{
    padding: 30px 0;
    background-color: #f9f9f9;
  }
  #mytabs{
    margin-top: 30px;
  }
  #mytabs .nav-tabs > li{
    position: relative;
    margin: 0 6px;
  }
  #mytabs .nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 16px;
    color: #5e5e5e;
    padding: 4px 6px;
  }
  #mytabs .nav-tabs > li.active:after{
    content: '';
    position: absolute;
    border-top: 10px solid #05c6e3;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    bottom: -10px;
    left: 42%;
  }
  #mytabs .nav-tabs > li.active > a, #mytabs .nav-tabs > li.active > a:hover, #mytabs .nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: #05c6e3;
    border: 1px solid transparent;
    border-bottom-color: transparent;
  }
  #mytabs .nav-tabs {
    border-bottom: 1px solid transparent;
  }
  .submit_btn{
    padding: 6px 15px;
    height: 50px;
    background-color: #858585;
    font-size: 16px;
    color: #fff;
    border: 1px solid #858585;
    outline: none !important;
  }
  .form_control:focus
  {
    box-shadow: 0px 6px 0px #fff;
    outline: none !important;
    border-color: transparent;
  }
  .search_controll{
    background: url("../images/search.png") no-repeat;
    background-size: 25px;
    background-position: 1%;
    border-radius: 10px;
    width: 400px;
    height: 45px;
    outline: none !important;
    padding: 6px 10px 6px 30px;
    border: 2px solid #00c3ec;
    font-size: 16px;
    color: #919191;
  }

  .more_items3{
    display: none;
  }
  .more_items3.showall{
    display: block;
  }





  /*=============================================================================*/
  /*=============================Profil Edit page================================*/
  /*=============================================================================*/

  #edit_profile{
    padding: 60px 0;
  }
  .protitle{
    font-size: 18px;
    color: #6e6e6e;
    margin-bottom: 10px;
    display: inline-block;
    margin-left: 15px;
  }
  .rightdrop1 .dropdown-menu {
    background-color: #f9f9f9;
    min-width: 300px;
    right: -85px;
    top: 70px;
    border: none;
  }
  .rightdrop1 .dropdown-menu li a{
    font-size: 15px !important;
  }
  .clr0ab5ed{
    color: #0ab5ed !important;
  }
  .linebtm32{
    border-bottom: 1px solid #b0b0b0;
    margin-bottom: 15px;
  }
  .profile_pic1{
    position: relative;
  }
  .profile_pic1 .editbtn{
    position: absolute;
    bottom: -20px;
    right: -20px;
  }
  .form_control3{
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
    padding: 4px 8px;
    outline: none;
  }
  .form_control5{
    width: 100%;
    height: 120px;
    background-color: #fff;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
    padding: 4px 8px;
    outline: none;
  }
  .mypro_form{
    width: 90%;
    padding-left: 30px;
  }
  #edit_profile .control-label{
    font-size: 16px;
    color: #848484;
    font-weight: 400;
    margin-bottom: 6px;
  }
  p.text4{
    font-size: 14px;
    color: #848484;
    margin-top: 6px;
    margin-left: 10px;
  }
  .buttons_div{
    width: 98%;
    text-align: right;
    margin-right: 15px;
  }
  .buttons_div .updatebtn5{
    padding: 8px 30px;
    border: 1px solid #58b9cb;
    font-size: 16px;
    font-weight: 500;
    color: #58b9cb;
    background-color: #e0f4ff;
    outline: none;
  }
  .buttons_div .cancelbtn5{
    padding: 8px 30px;
    border: 1px solid #efefef;
    font-size: 16px;
    font-weight: 500;
    color: #757575;
    background-color: #efefef;
    outline: none;
  }
  .dropdown.open a,
  .dropdown a{
    background-color: transparent !important;
  }
  .overall_review{
    text-align: right;
    padding: 10px 0;
  }
  .overall_review p{
    font-size: 18px;
    color: #000;
  }
  .overall_review p i.fa{
    font-size: 24px;
    color: #50d5f5;
    padding: 0 2px;
  }
  .overall_review p span{
    color: #6e6e6e;
  }
  .myreview{
    display: block;
    padding: 0px 15px;
    background-color: #f4f4f4;
    border: 1px solid #d0d0d0;
    border-radius: 8px;
    margin: 30px 0;
  }
  .myreview h3{
    font-size: 18px;
    color: #6c6c6c;
  }
  .myreview h3 em{
    font-size: 15px;
  }
  .myreview h3 span{
    color: #50d5f5;
  }

  p.text6{
    font-size: 16px;
    color: #6c6c6c;
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 50px;
  }
  .mypage3{
    text-align: center;
    margin-bottom: 50px;
  }
  .pagination > li > span,
  .pagination > li > a {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: 0px;
    line-height: 1.42857143;
    font-size: 18px;
    color: #2dc8e9;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid transparent;
  }
  .pagination > li.active > a,
  .pagination > li.active > a:hover,
  .pagination > li.active > a:focus,
  .pagination > li > a:hover,
  .pagination > li > a:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #2dc8e9;
    border-color: #2dc8e9;
  }
  .rightdrop2{
    margin-top: -10px;
  }
  .rightdrop2 .dropdown-menu{
    background-color: #f9f9f9;
    right: -52px;
    top: 80px;
    border: none;
  }
  .rightdrop2 .dropdown-menu:before{
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f9f9f9;
    top: -10px;
    left: 49%;
  }
  .rightdrop2 .dropdown-menu > li{
    border-top: 1px solid #cbcbcb;
  }
  .rightdrop2 .dropdown-menu > li:first-child{
    border-top: 1px solid transparent;
  }
  .navbar-default ul li a {
    font-size: 18px;
  }
  .rightdrop2 .dropdown-menu > li > a {
    display: block;
    padding: 15px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #010101 !important;
    white-space: nowrap;
    text-align: center;
    font-size: 16px;

  }
  .title65 h3{
    font-size: 16px;
    color: #010101;
    margin: 0
  }
  .rightdrop1 .title65 h3 a{
    color: #0bc3f8 !important;
  }
  .rightdrop1 .dropdown-menu li{
    padding: 10px 10px;
    border-top: 1px solid #cbcbcb;
  }
  .rightdrop1 .dropdown-menu > li:first-child{
    border-top: 1px solid transparent;
    box-shadow: none;
  }
  .rightdrop1 a.seeall54{
    font-size: 16px;
    color: #0bc3f8 !important;
    text-align: center;
    display: block;
    padding: 0px 0;

  }
  .rightdrop1 .dropdown-menu:before{
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f9f9f9;
    top: -10px;
    left: 52%;
  }
  .myallreview43{
    width: 86%;
    margin-left: 30px;
  }

  .space5{
    margin-top: 5px;
  }
  .space10{
    margin-top: 10px;
  }
  .space15{
    margin-top: 15px;
  }
  .space20{
    margin-top: 20px;
  }
  .space25{
    margin-top: 25px;
  }
  .space30{
    margin-top: 30px;
  }
  .space40{
    margin-top: 40px;
  }
  .space50{
    margin-top: 50px !important;
  }
  .space60{
    margin-top: 60px;
  }
  .space70{
    margin-top: 70px;
  }
  .space80{
    margin-top: 80px;
  }
  .space100{
    margin-top: 100px;
  }

  /* ========================================= */
  /* =============PADDING CLASSES============== */
  /* ========================================= */
  .pad0{
    padding: 0 !important;
  }
  .padleft0{
    padding-left: 0px !important;
  }
  .padright0{
    padding-right: 0px !important;
  }
  .padtop0{
    padding-top: 0px !important;
  }
  .padbottom0{
    padding-bottom: 0px !important;
  }
  .padding10{
    padding: 10px !important;
  }
  .padding15{
    padding: 15px;
  }
  .padding20{
    padding: 20px !important;
  }
  .padding25{
    padding: 25px;
  }
  .padding30{
    padding: 30px !important;
  }
  .padding50{
    padding: 50px;
  }
  .padbtm100{
    padding-bottom: 100px;
  }
  .padbtm80{
    padding-bottom: 80px;
  }
  .padbtm50{
    padding-bottom: 50px !important;
  }
  .padbtm20{
    padding-bottom: 20px !important;
  }


  /* ========================================= */
  /* =============MARGIN CLASSES============== */
  /* ========================================= */
  .m0{
    margin: 0;
  }
  .mbtm0{
    margin-bottom: 0px;
  }
  .mtop0{
    margin-top:0px;
  }
  .mtop10{
    margin-top:10px;
  }
  .mbtm10{
    margin-bottom:10px;
  }
  .mleft10{
    margin-left:10px;
  }
  .mright10{
    margin-right:10px;
  }
  .mauto img{
    margin: 0px auto !important;
    width: 100%  !important;
  }

  .mautomargin{
    margin: 0px auto !important;
  }


  /* ========================================= */
  /* =============FONT SIZE CLASSES============== */
  /* ========================================= */
  .fsize8{
    font-size: 8px !important;
  }
  .fsize10{
    font-size: 10px !important;
  }
  .fsize12{
    font-size: 12px !important;
  }
  .fsize13{
    font-size: 13px;
  }
  .fsize14{
    font-size: 14px !important;
  }
  .fsize16{
    font-size: 16px !important;
  }
  .fsize18{
    font-size: 18px !important;
  }
  .fsize20
  {
    font-size: 20px !important;
  }
  .fsize22{
    font-size: 22px !important;
  }
  .fsize24{
    font-size: 24px !important;
  }
  .fsize26{
    font-size: 26px;
  }
  .fsize28{
    font-size: 28px;
  }
  .fsize30{
    font-size: 30px !important;
  }
  .fsize36{
    font-size: 36px !important;
  }
  .fsize40{
    font-size: 40px !important;
  }
  .fsize50{
    font-size: 50px !important;
  }
  .fsize60{
    font-size: 60px !important;
  }
  .fsize70{
    font-size: 70px !important;
  }
  .fsize80{
    font-size: 80px;
  }
  .fsize90{
    font-size: 90px;
  }
  .fsize100{
    font-size: 100px !important;
  }

  /* ========================================= */
  /* =============FONT WEIGHT CLASSES============== */
  /* ========================================= */
  .f100{
    font-weight: 100;
  }

  .f200{
    font-weight: 200;
  }
  .f300{
    font-weight: 300;
  }
  .f400{
    font-weight: 400;
  }
  .f500{
    font-weight: 500;
  }
  .f600{
    font-weight: 600;
  }
  .f700{
    font-weight: 700;
  }
  .f800{
    font-weight: 800;
  }

  /* ========================================= */
  /* =============LETTERSPACE CLASSES============== */
  /* ========================================= */
  .lspace03{
    letter-spacing: 0.3px;
  }
  .lspace06{
    letter-spacing: 0.6px;
  }
  .lspace1{
    letter-spacing: 1px;
  }
  .lspace2{
    letter-spacing: 2px;
  }
  .lspace3{
    letter-spacing:3px;
  }

  /* ========================================= */
  /* =============LINEHEIGHT CLASSES============== */
  /* ========================================= */
  .lheight15{
    line-height: 15px;
  }
  .lheight13{
    line-height: 13px;
  }
  .lheight20{
    line-height: 20px !important;
  }
  .lheight22{
    line-height: 22px !important;
  }
  .lheight25{
    line-height: 25px !important;
  }
  .lheight30{
    line-height: 30px !important;
  }
  .lheight35{
    line-height: 35px !important;
  }
  .lheight40{
    line-height: 40px !important;
  }
  .lheight45{
    line-height: 45px !important;
  }
  .lheight50{
    line-height: 50px !important;
  }
  .lheight60{
    line-height: 60px !important;
  }

  /*--------------------------------------------css coding------------------------------------*/
  /*---------------------------------navbar-------------------------------*/
  .navbar-default {
    background: url(../images/header.png);
    padding-top: 10px;
    border-bottom: none;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0px;
  }
  .navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 35px;
    margin-top: -10px;
    font-weight: 700;
    color: #fff !important;
    line-height: 20px;
  }
  .navbar-default ul li a{
    color: #fff !important;
  }

  .navbar-default .navbar-nav > li > a {
    padding: 10px 40px;
  }
  .navbar-default .navbar-nav > li:last-child > a {
    padding: 10px 0px 10px 30px;
  }
  .a_20{
    font-size: 20px;
  }
  .btn-white{
    background: transparent;
    color: #ffffff !important;
    border-radius: 0px;
    margin-top: 6px;
    border-color: #ffffff;
    padding: 8px 10px !important;

  }
  .btn-white:hover{
    color: #45a9ce !important;
    background-color: #fff !important;
  }

  /*==== pop -up =====*/
  .login-form{
    padding: 20px;
  }
  .login-form .radio,.login-form .checkbox{
    color: #000;
    text-align: left;
    margin-top: 0px;
  }
  .login-form label{
    color: #000000;
  }
  .modal-content{
    border-radius: 0px;
  }
  .modal-content .form-control{
    border-radius: 0px;
  }
  .btn-login{
    background: #28add6;
    color: #ffffff;
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 2px;
  }
  .btn-login:hover{
    background: #45cbf5;
    color: #000000;
  }
  .btn-linkdin{
    background: #3f87af;
    color: #ffffff;
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 2px;
  }
  .btn-linkdin:hover{
    background: #2bc4f3;
    color: #ffffff;
    transition: all linear .8s;
  }
  .btn-fb{
    background: #3c5a95;
    color: #ffffff;
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 2px;
  }
  .btn-fb:hover{
    background: #354f84;
    color: #ffffff;
    transition: all linear .8s;
  }
  .btn-google{
    background: #f2f2f2;
    color: #000000;
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 2px;
  }
  .btn-google:hover{
    background: #e2e2e2;
    color: #000000;
    transition: all linear .8s;
  }
  .bd-line{
    border-top: 1px solid #ebebeb;
    margin-bottom: 15px;
  }
  #myModal11 .modal-dialog,#myModal111 .modal-dialog {
    width: 330px;
    margin: 30px auto;
  }
  #myModal111 p,#myModal11 p{
    color: #b3b3b9;
  }
  .login-form {
    padding: 20px;
  }
  .text-sky {
    color: #09bdd2;
  }
  .navbar-brand > img {
    display: block;
    width: 150px;
  }
  /*---------------------------banner---------------------------*/
  /*#banner {
    background: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    width:100%;

  } */


  #banner{
    background: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 942px;
    padding-top: 350px;
    width: 100%;
  }
  /*.banner2{
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }*/

  .carousel-caption {
    position: absolute;
    bottom: 20px;
    top: 30%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    text-shadow: 0px 0px 0px;
    left: 0;
    right: 0;
  }
  .padd0{
    padding: 0px;
  }
  .p_header{
    font-size: 35px;
    color: #31bbe9;
  }
  .p1{
    font-size: 24px;
  }
  .btn_1{
    color: #10c2ee;
    font-size: 19px;
    background-color: transparent;
    border-color: #10c2ee;
    transition:0.4s;
    width: 200px;
    padding: 10px 0;
  }
  .btn_1:hover{
    color: #fff;
    background-color: #10c2ee;
    border-color: #10c2ee;
    transition:0.4s;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
  }
  .btn_advise{
    color: #fff;
    font-size: 19px;
    background-color: #10c2ee;
    border-color: #10c2ee;
    transition:0.4s;
    width: 200px;
    padding: 10px 0;
  }
  .marg_left{
    margin-left: 10px;
  }
  .space350{
    margin-top: 350px;
  }
  .link_a{
    color: #606060;
    font-size: 17px;
    padding-left: 20px;
  }

  /*------------------------info------------------*/
  .media_p{
    font-size: 19px;
    padding-left: 20px;
  }
  #info {
    padding: 5% 0;
  }
  /*.img_width{
      width: 90px;
  }*/
  .marg_top{
    margin-top: 65px;
  }
  .line::after {
    content: '';
    position: absolute;
    border: 1px solid #c6c6c6;
    height: 43px;
    margin-top: 4px;
    left: 69px;
  }
  .p_margin1{
    margin-top: 25px;
  }

  .p_margin2{
    margin-top: 15px;
  }



  /*------------------------subscribe------------------*/
  #subscribe{
    background-color: #b7b7b7;
    color: #fff;
    padding: 60px 0;
  }
  .form_control {
    font-size: 16px;
    color: #797979;
    background-color: #cfcfcf;
    border-radius: 0px;
    box-shadow: 0px 3px 0px #fff;
    height: 47px;
    outline: none !important;
  }
  .social {
    font-size: 35px !important;
    color: #fff;
    line-height: 65px !important;
  }
  .cirlce {
    width: 70px;
    height: 70px;
    border: 2px solid #fff;
    border-radius: 50px;
    transition: 0.4s;
  }
  .cirlce:hover{
    background-color: #fff;
    transition:0.4s;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
  }
  .cirlce:hover .social{
    color: #cfcfcf;
  }
  #subscribe .list-inline > li {
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
  }

  /*================================body main css==================================*/
  .blog-section {
    padding: 20px 0px;
  }
  .blog {
    padding: 20px 0px;
    border-top: 1px solid #b0b0b0;
    border-bottom: 1px solid #b0b0b0;
  }
  .morebtn{
    padding: 6px 30px;
    border: 1px solid #b0b0b0;
    border-radius: 3px;
    font-size: 24px;
    color: #05ace3;
    background-color: transparent;
    margin-bottom: 80px;
    transition:0.4s;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
  }
  .morebtn:hover{
    color: #fff;
    background-color: #05ace3;
  }
  .btn-grn1 {
    color: #58cb8e;
    background: #e7f8f2;
    border-color: #82d6a5;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 25px;
    width: 200px;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
  }
  .blog-btn {
    text-align: center;
  }
  .blog-contain h3 span {
    color: #0093b8;
  }
  .starreting li a{
    font-size: 24px;
    color: #05ace4;
    padding: 2px;
  }
  p.blog-txt2 a{
    color: #999999;
    text-decoration: none;
  }
  /*===========================5 grig sytem===============*/
  /*  SECTIONS  */
  .section {
    clear: both;
    padding: 0px;
    margin: 0px;
  }

  /*  COLUMN SETUP  */
  .col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.5%;
  }
  .col:first-child { margin-left: 0; }

  /*  GROUPING  */
  .group:before,
  .group:after { content:""; display:table; }
  .group:after { clear:both;}
  .group { zoom:1; /* For IE 6/7 */ }


  /*  GRID OF FIVE  */
  .span_5_of_5 {
    width: 100%;
  }
  .span_4_of_5 {
    width: 79.7%;
  }
  .span_3_of_5 {
    width: 59.4%;
  }
  .span_2_of_5 {
    width: 39.1%;
  }
  .span_1_of_5 {
    width: 18.8%;
  }

  /*  GO FULL WIDTH BELOW 480 PIXELS */
  @media only screen and (max-width: 767px) {
    .col {  margin: 1% 0 1% 0%; }
    .span_1_of_5, .span_2_of_5, .span_3_of_5, .span_4_of_5, .span_5_of_5 { width: 100%; }
  }
  .category_items li{
    list-style: none;
    display: inline-block;
  }
  .category_items h3{
    font-size: 18px;
    color: #000;
    text-align: center;
  }
  .category_items li a{
    display: inline-block;
    padding: 4px 5px;
    text-decoration: none;
    font-size: 14px;
    color: #4f4f4f;
  }
  .category_items li a:hover{
    color: #05c6e3;
  }
  a{
    text-decoration: none !important;
  }
  #top_category{
    padding: 30px 0;
    background-color: #f9f9f9;
  }
  #mytabs{
    margin-top: 30px;
  }
  #mytabs .nav-tabs > li{
    position: relative;
    margin: 0 15px;
  }
  #mytabs .nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 16px;
    color: #5e5e5e;
  }
  #mytabs .nav-tabs > li.active:after{
    content: '';
    position: absolute;
    border-top: 10px solid #05c6e3;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    bottom: -10px;
    left: 42%;
  }
  #mytabs .nav-tabs > li.active > a, #mytabs .nav-tabs > li.active > a:hover, #mytabs .nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: #05c6e3;
    border: 1px solid transparent;
    border-bottom-color: transparent;
  }
  #mytabs .nav-tabs {
    border-bottom: 1px solid transparent;
  }
  .submit_btn{
    padding: 6px 15px;
    height: 50px;
    background-color: #858585;
    font-size: 16px;
    color: #fff;
    border: 1px solid #858585;
    outline: none !important;
  }
  .form_control:focus
  {
    box-shadow: 0px 3px 0px #fff;
    outline: none !important;
    border-color: transparent;
  }
  .search_controll{
    background: url("../images/search.png") no-repeat;
    background-size: 25px;
    background-position: 1%;
    border-radius: 10px;
    width: 400px;
    height: 45px;
    outline: none !important;
    padding: 6px 10px 6px 30px;
    border: 2px solid #00c3ec;
    font-size: 16px;
    color: #919191;
  }



  /*--------------- css (juhi) ----------------*/

  #software .blog-contain h5{
    color: #747474;
    font-size: 15px;
  }
  #software .blog-contain p{
    color: #000;
  }
  #software .blog-contain p.passion-txt{
    color: #3a3a3a;
  }
  .fa-map-marker{
    padding-right: 5px;
    color: #848484;
  }
  #software .blog-contain h4{
    color: #6c6c6c;
  }
  #software .blog-contain h3 span {
    color: #05ace3;
  }
  #software{
    font-family:'calibril';
  }
  .space-txt{
    font-size: 16px;
    cursor: pointer;
  }
  #software .starreting{
    text-align: center;
  }
  #software .fa-linkedin{
    color: #929292;
    margin-top: 25px;
    float: right;
    border: 1px solid #929292;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 20px;
  }
  #software p.blog-txt2 a {
    font-size: 18px;
  }
  .stev-txt{
    font-family: 'CALIBRI';
    color: #000;
    font-size: 16px;
  }
  .back-txt{
    color: #7b7b7b;
  }
  .p-tags{
    padding-left: 56px;
  }
  .border-tpbtm{
    border-top: 1px solid #b0b0b0;
    border-bottom: 1px solid #b0b0b0;
    padding-bottom: 10px;
  }
  #software{
    padding: 50px 0px 20px;
  }

  #conversation .fa-caret-down{
    padding-right: 10px;
  }
  #conversation p{
    color: #575757;
  }
  #conversation .form-control{
    box-shadow: none;
  }
  #basic-addon1{
    width: 30%;
    text-align: right;
    border-bottom-left-radius: 0;
    border-bottom: 0;
  }
  #basic-addon2{
    width: 30%;
    text-align: right;
    border-top-left-radius: 0;
  }
  #basic-addon3{
    width: 30%;
    text-align: right;
  }
  #basic-addon4{
    width: 30%;
    text-align: right;
    border-bottom: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .input1{
    width: 100%;
  }
  #txttm2{
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  #txtfn{
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 7px;
  }
  #txtem{
    border-top-right-radius: 0;
    border-bottom-right-radius: 7px;
  }
  .input-group-addon{
    border-radius: 7px;
  }
  .form-control:focus {
    border-color: #ccc;
  }
  #conversation p.member-txt{
    color: #309de2;
    font-family: 'CALIBRI';
    font-size: 16px;
  }
  #conversation form{
    margin: 40px 0px 10px;
  }
  #txtpn{
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  .number-txt{
    color: #616161;
    font-size: 16px;
    font-family: 'calibril'
  }
  #conversation .form-control.txt1,#conversation .form-control.txt2,#conversation .form-control.txt3{
    float: left;
    width: 50%;
    border-radius: 0;
    border-right: 0;
  }
  #txtfn1{
    float: left;
    width: 50%;
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 7px;
  }
  #txttm22{
    float: left;
    width: 50%;
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  #txtem2{
    float: left;
    width: 50%;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 0;
  }
  .txtarea{
    font-family: 'CALIBRI';
    color: #3c3c3c;
    font-size: 17px;
  }
  .btn-schedule{
    color: #58cb8e;
    border: 1px solid #58cb8e;
    background: #e7f8f2;
    transition: 300ms ease-in-out;
    display: inline-block;
    margin-top: 30px;
    padding: 9px 60px;
    font-size: 20px;
  }
  .btn-schedule:hover{
    color: #58cb8e;
    border: 1px solid #58cb8e;
    background: transparent;
  }
  .request-txt{
    color: #989898;
    display: block;
    margin-top: 10px;
  }
  #conversation{
    padding-bottom: 100px;
  }
  input[type=time]{
    background: url(../images/arrow.png) no-repeat;
    background-position: 94%;
  }
  input[type=time]::-webkit-inner-spin-button,
  input[type=time]::-webkit-outer-spin-button {

    opacity: 0;

  }
  .input-group-addon{
    font-family: 'CALIBRI';
    color: #3c3c3c;
  }
  input[type=date]::-webkit-inner-spin-button,
  input[type=date]::-webkit-outer-spin-button {

    -webkit-appearance:none;

  }
  /*-------------------------------------------*/

  /*------------------------subscribe------------------*/
  footer{
    background-color: #999999;
    color: #fff;
    padding: 20px 0;
  }
  /*--------------------------------------------media query-----------------------------------*/
  @media(min-width: 1440px) and (max-width: 1600px){

    .navbar-brand > img {
      width: 130px;
      margin-top: 5px;
    }
    .navbar-default {
      padding: 8px 0;
    }
    #banner {
      height: 713px;
      padding-top: 266px;
    }
  }








  @media(max-width: 1440px){

    .link_a {
      padding-left: 40px;
    }
    .space350 {
      margin-top: 270px;
    }
    #banner {
      background: url(../img/banner.png);
      background-repeat: no-repeat;
      background-size: 100%;
      height: 720px;
      padding-top: 230px;
      width: 100%;
    }
    /*#banner {
        height: 79%;
        width: 100%;
    }*/
  }
  @media(max-width:1280px){

    .navbar-brand > img {
      width: 130px;
      margin-top: 5px;
    }
    .navbar-default {
      padding: 8px 0;
    }
    #banner {

      height: 620px;
      padding-top: 190px;
      width: 100%;
    }
    .link_a {
      padding-left: 40px;
      font-size: 16px;
    }
    /*  #banner {
        background-size: 100% auto;
        height: 73%;
      }*/
  }



  @media(max-width:1199px){

    /*#banner {
        height: 79%;
    }*/
    /*#banner {
        background-size: 100% auto;
        height: 67%;
    }*/
  }


  /*---------------------------------------tablet----------------------------------------*/
  @media(max-width: 1024px) {
    .link_a {
      padding-left: 38px;
    }

    .p_header {
      font-size: 30px;
    }
    .p1 {
      font-size: 21px;
    }
    #team {
      height: 20%;
    }
    .space350 {
      margin-top: 100px;
    }
    /*#banner {
        padding: 90px 0;
    }*/

    /*#banner {
        height: 57%;
    }*/

    #team .fsize26 {
      font-size: 20px;
    }
    .marg_top {
      margin-top: 100px;
    }

    /*#banner {
        background-size: 100% auto;
        height: 58%;
    }*/
  }

  /*----------------------------------ipad-------------------------------*/
  @media(max-width: 991px) {
    .carousel-caption {
      top: 21%;

    }
    #mytabs .nav-tabs > li {
      position: relative;
      margin: 0 5px;
    }
    .link_a {
      font-size: 13px;
    }
    .btn_1 {
      font-size: 14px;
      width: 160px;
    }
    .btn_advise {
      font-size: 14px;
      width: 160px;
    }
    .marg_top {
      margin-top: 0px;
    }
    .p_header {
      font-size: 30px;
    }
    #banner {
      height: 490px;
      padding-top: 50px;
      width: 100%;
    }


    #team .fsize26 {
      font-size: 15px;
    }
    #team .fsize20 {
      font-size: 15px !important;
    }
    .media_body {
      min-height: 106px;
    }
    .line::after {
      height: 63px;
      margin-top: 4px;
      left: 69px;
    }
    #info {
      padding: 50px 0;
    }
    .p1 {
      font-size: 21px;
    }
    .search_controll {
      width: 100%;
    }
    .btn-grn1 {
      width: 100%;
    }
  }

  @media(max-width: 768px){
    #banner {
      height: 380px;
      padding-top: 50px;
      width: 100%;
    }
    .carousel-caption {
      top: 10%;
    }
  }

  @media (max-width: 767px){
    /*--------- juhi -------*/
    .p-tags {
      padding-left: 0px;
      text-align: center;
    }
    #software .fa-linkedin {
      float: none;
      margin: 25px auto 0;
      display: block;
    }

    /*--------------------*/
    #mytabs .nav-tabs > li {
      position: relative;
      margin: 0 0px;
      text-align: center;
    }
    #mytabs .nav-tabs > li > a {
      font-size: 14px;
      padding: 10px 8px;
    }
    #mytabs .nav-tabs > li.pull-right{
      float: none !important;
    }
    .search_controll {
      width: 100%;
      margin-bottom: 15px;
    }
    #mytabs .go_there,
    #mytabs .come_here{
      width: 100%;
    }
    #mytabs .blog-contain h3{
      font-size: 18px;
    }
    .btn_advise {
      font-size: 17px;
      width: 170px;
      padding: 7px 0;
    }
    .btn_1 {
      font-size: 17px;
      width: 170px;
      padding: 7px 0;
    }
    /*.btn_1 {
     font-size: 12px;
        width: 115px;
        padding: 7px 0;
    }*/
    .p_header {
      font-size: 37px;
    }
    /*.p_header {
        font-size: 18px;
    }*/
    /* #banner {
        padding: 90px 0;
    }*/
    #subscribe .list-inline > li {
      padding-right: 5px;
      padding-left: 5px;
    }
    footer .fsize16 {
      font-size: 13px !important;
    }
    .p_margin2 {
      margin-top: 10px;
    }
    .p_margin1 {
      margin-top: 10px;
    }
    footer .fsize20 {
      font-size: 15px !important;
    }
    #subscribe {
      padding: 30px 0;
    }
    .social {
      font-size: 20px !important;
      line-height: 47px !important;
    }
    .cirlce {
      width: 50px;
      height: 50px;
    }
    .form_control {
      font-size: 18px;
      height: 50px;
    }
    #subscribe .fsize26 {
      font-size: 21px;
    }
    #mobile_app {
      padding: 30px 0;
    }
    .logo{
      width: 180px;
    }
    .txt_center{
      text-align: center;
    }
    .iphone{
      /*width: 200px;*/
      margin-top: 30px;
    }
    .img_width3 {
      width: 200px;
    }
    .apple{
      width: 160px;
    }
    .p_download {
      font-size: 20px;
    }
    #mentors_view {
      padding: 40px 0;
    }
    .btn_schedule {
      margin-bottom: 40px;
    }
    .caption {
      min-height: 150px !important;
    }
    .p_tag3 {
      font-size: 15px;
      color: #737373;
    }
    .p_tag2 {
      font-size: 17px;
    }
    .img_width2 {
      width: 250px;
    }
    .p_tag {
      font-size: 16px;
      margin-top: 10px;
    }
    #mentors_view .space80 {
      margin-top: 30px;
    }
    #mentors_view h2 {
      font-size: 23px;
      margin: 0px;
    }
    #team {
      padding: 50px 0;
    }
    .border_white {
      margin: 10px 0;
    }
    #team .fsize26 {
      font-size: 20px;
    }
    #team .fsize20 {
      font-size: 16px !important;
    }
    .navbar-default {
      padding: 10px 0;
    }
    .navbar-brand {
      margin-top: 0px;
    }
    .navbar-brand img {
      width: 120px;
      margin-top: 0px;
    }
    .caption {
      min-height: 220px;
    }
    .space200 {
      margin-top: 130px;
    }
    .media_body{
      min-height: 85px;
    }
    .btn_signup{
      display: inline-block !important;
      /* padding-left: 22px !important; */
      margin-left: 15px;
    }
    .p_margin {
      margin-top: 10px;
    }
    .line::after {
      height: 30px;
      margin-top: 5px;
      left: 50px;
    }
    .img_width {
      width: 70px;
    }
    .media_p {
      font-size: 15px;
    }
    .navbar-brand {
      font-size: 25px;
    }
    /*#banner {
        padding: 0px 0px 0px;
        background-size: auto;
        height: 35%;
        background-position: 41% 74%;
    }*/
    /* #banner {
       padding: 0px 0px 0px;
       background-size: cover;
       height: 50%;
   }*/

    /*.p1 {
        font-size: 14px;
    }*/
    #banner {
      padding-top: 130px;
      height: 680px;
      background-size: cover;
    }

    .p1 {
      font-size: 32px;
    }
    .link_a {
      font-size: 17px;
      padding-left: 0px;
    }
    /*.link_a {
        font-size: 12px;
       padding-left: 0px;
    }*/
  }




  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    /*#banner {
        padding: 0px 0px 0px;
        background-size: 100%;
        height: 88%;
        background-position: 100% 0%;
    }*/
  }






  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    /*#banner {
        padding: 0px 0px 0px;
        background-size: 100%;
        height: 88%;
        background-position: 100% 0%;
    }*/
  }


  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    /*#banner {
        padding: 0px 0px 0px;
        background-size: 100%;
        height: 88%;
        background-position: 100% 0%;
    }*/
  }


  @media (max-width: 414px){

  }















  @media(max-width: 375px){
    .carousel-caption {
      top: -7%;
    }
    .p_header {
      font-size: 34px;
    }
    .p1 {
      font-size: 25px;
    }
    .marg_left {
      margin-left: 0px;
    }
  }
  /*-------------------------------------------phone-----------------------------------*/

  @media (max-width: 320px){
    /*  #banner {
        padding: 13px 0;
    }*/
    .navbar-default {
      padding: 5px 0;
    }
    .navbar-brand img {
      width: 100px;
    }
    .img_width3 {
      width: 170px;
    }


    .p_margin2 {
      margin-top: 0px !important;
    }

    .a_20 {
      font-size: 15px;
    }
    footer .fsize20 {
      font-size: 12px !important;
    }
    #subscribe .list-inline > li {
      padding-right: 5px;
      padding-left: 5px;
    }
    .cirlce {
      width: 40px;
      height: 40px;
    }
    .social {
      font-size: 20px !important;
      line-height: 37px !important;
    }
    .form_control {
      font-size: 14px;
      height: 42px;
    }
    #subscribe .fsize26 {
      font-size: 16px;
    }
    /* .iphone {
       width: 150px;
   }*/
    .p_download {
      font-size: 16px;
    }
    .apple {
      width: 130px;
    }
    .logo {
      width: 140px;
    }
    .img_width2 {
      width: 200px;
    }
    .caption {
      min-height: 120px !important;
    }
    .btn_schedule {
      font-size: 14px;
    }
    .p_tag2 {
      font-size: 15px;
    }
    .p_tag3 {
      font-size: 13px;
    }
    .p_tag {
      font-size: 14px;
    }
    #mentors_view h2 {
      font-size: 18px;
    }
    .paddlr {
      padding: 0px 40px;
    }
    #team .fsize20 {
      font-size: 13px !important;
    }
    #team .fsize26 {
      font-size: 16px;
    }
    /* .space350 {
       margin-top: 40px;
   }*/
    /* #banner {
       padding: 0px 0px 19px;
   }*/
    /*#banner {
        height: 40%;
    }*/

    /*.link_a {
        font-size: 12px;

    }
      .p1 {
        font-size: 12px;
    }
    .p_header {
        font-size: 15px;
    }*/
    .marg_left {
      margin-left: 0px;
    }
    .btn_advise {

      margin: 20px 0;
      /* margin-bottom: 20px; */
    }
    /*.btn_1 {
      font-size: 13px;
      width: 140px;
  }*/
    .img_width {
      width: 50px;
    }
    .media_p {
      font-size: 13px;
      padding-left: 15px;
    }

    .media_body {
      min-height: 73px;
    }
    .line::after {
      height: 37px;
      margin-top: 5px;
      left: 40px;
    }
    #wallpaper .space10 {
      margin-top: 6px;
    }

</style>

<div class="mypage" ng-controller="mentorsCtrl" ng-init="to=<%= @user.id %>;from=<%= current_user.id %>">
  <section id="software">
  <input class="from" type="hidden" value="<%= current_user.id %>">
  <input class="to" type="hidden" value="<%= @user.id %>">
    <div class="container">
      <div class="row border-tpbtm">
        <div class="col-md-3 col-sm-3 pad0">
          <a href="#"> <% if @user.dp%>
                <img src="<%= @user.dp %>" width="50%" class="img-responsive center-block space15" alt="img">
            <% else %>
                <img src="images/person-placeholder.jpg" width="100%" class="img-responsive center-block space15" alt="img">
            <% end %>
          </a>
          <div class="p-tags">
            <% if @user.first_name !=nil && @user.last_name !=nil  %>
                <p class="stev-txt"><%= @user.first_name + '' + @user.last_name %></p>
            <%end %>
            <p class="back-txt"><%= @user.current_title %></p>
          </div>
          <ul class="list-inline starreting space10">
            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
          </ul>
          <p class="blog-txt2 text-center"><a href="#"><img src="images/phone.png" class="space2" alt=".."> 206 Calls</a></p>
        </div>
        <div class="col-md-7 col-sm-7">
          <div class="blog-contain">
            <h3><%= @user.current_title %>  <a href="#"><span>@ <%= @user.current_company %></span></a> </h3>
            <h4><i class="fa fa-map-marker" aria-hidden="true"></i><%= @user.location %></h4>
            <p class="passion-txt"><%= @user.headline %></p>
            <h5 class="space30">Work Experience</h5>
            <p class="space-txt"><%= @user.prev_title %>  <a href="#"><%= @user.prev_company%></a></p>

            <h5>Education</h5>
            <a class="space-txt"><%= @user.grad_school %></a>

            <h5 class="mtop0"><%= @user.grad_major %></h5>
          </div>
        </div>
        <div class="col-md-2 col-sm-2">
          <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </section>

  <section id="conversation">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p><i class="fa fa-caret-down" aria-hidden="true"></i>Request a Conversation</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <form id="form">
            <div class="schedule">
              <div class="input-group input1 space30">
                <span class="input-group-addon" id="basic-addon1">Time Option 1</span>
                <input type="date" ng-model="date1" id="txtfn" class="form-control txt1 date1" aria-describedby="basic-addon1">
                <input type="time" ng-model="time1" id="txtfn1" class="form-control time1" aria-describedby="basic-addon1" value="03:00" step="900">
              </div>
              <div class="input-group input1">
                <input type="hidden" ng-model="from" name="">
                <input type="hidden" ng-model="to" name="" value="2000">

                <span class="input-group-addon" id="basic-addon4">Time Option 2</span>
                <input type="date" id="txttm2" class="form-control txt2 date2" aria-describedby="basic-addon4">
                <input type="time" id="txttm22" class="form-control time2" aria-describedby="basic-addon4" value="03:30" step="900">
              </div>
              <div class="input-group input1">
                <span class="input-group-addon" id="basic-addon2">Time Option 3</span>
                <input type="date" id="txtem" class="form-control txt3 date3" aria-describedby="basic-addon2">
                <input type="time" id="txtem2" class="form-control time3" aria-describedby="basic-addon2" value="10:00" step="900">
              </div>
            </div>
            <label class="f300 txtarea space30">Conversation Topic (Optional)</label>
            <textarea class="form-control topic" rows="5"></textarea>

            <button class="btn-schedule">Schedule</button>

          </form>
        </div>
        <div class="col-md-7">

        </div>
      </div>
    </div>
  </section>

  <section id="subscribe">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div>
            <p class="fsize18">Subscribe to Get Updates and Career Tips!</p>
            <div class="space20"></div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-2"></div>
            <div class="col-md-4 col-sm-8">
              <div class="input-group">
                <input type="text" class="form-control form_control text-center" placeholder="Enter Your E-mail">
                <span class="input-group-btn">
                    <button class="submit_btn" type="button">Submit</button>
                  </span>
              </div>
              <div class="space70 hidden-xs"></div>
              <div class="space30 visible-xs"></div>
              <ul class="list-inline">
                <li><a href="#"><div class="cirlce"><i class="fa fa-facebook social"></i></div></a></li>
                <li><a href="#"><div class="cirlce"><i class="fa fa-linkedin social"></i></div></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
<script>
$('.btn-schedule').click(function () {
  console.log('sending');

  // TODO: Validate form
  var from = $('.from').val();
  var to = $('.to').val();
  var topic = $('.topic').val();
  var stamp = new Date();
  var ref = from + to + stamp.getTime();

  $.ajax({
    type: 'POST',
    url: '/api/add_invitation_topic',
    data: {topic: topic, ref: ref, from: from, to: to},
    beforeSend: function () {
      $('#ajax-panel').html('<div class="loading"><img src="/images/squares.svg" alt="Loading..." /></div>');
    },

    success: function (data) {
      $('#ajax-panel').empty();
      console.log(data);

      // TODO: Display success modal
    },

    error: function () {
      $('#ajax-panel').html('<p class="error"><strong>Oops!</strong> Try that again in a few moments.</p>');

    },

  });

  for (var i = 0; i < 3; i++) {
    var date;
    var time;
    if (i == 0) {
      date = $('.date1').val();
      time = $('.time1').val();
    } else if (i == 1) {
      date = $('.date2').val();
      time = $('.time2').val();
    } else if (i == 2) {
      date = $('.date3').val();
      time = $('.time3').val();
    }
    var data = { from: from, to: to, date: date, time: time, ref: ref };
    console.log(data);
    $.ajax({
      type: 'POST',
      url: '/api/add_invitation',
      data: data,
      beforeSend: function () {
        $('#ajax-panel').html('<div class="loading"><img src="/images/squares.svg" alt="Loading..." /></div>');
      },

      success: function (data) {
        $('#ajax-panel').empty();
        window.location = "/mentors";

        // TODO: Display success modal
      },

      error: function () {
        $('#ajax-panel').html('<p class="error"><strong>Oops!</strong> Try that again in a few moments.</p>');

      },

    });
  }
  alert('Invitation request sent.')
  window.location = '/mentors'
});

</script>
<!-- <script scr="/javascripts/sendInvite.js"></script> -->
